#productContainer{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.productCard {
    border: 1px solid #ddd;
    padding: 16px;
    margin: 10px;
    border-radius: 8px;
    width: 200px;
  }
  .productCard h2 {
    font-size: 18px;
    margin-bottom: 8px;
  }
  .productCard p {
    font-size: 14px;
    margin-bottom: 8px;
  }
  .productCard .price {
    font-weight: bold;
  }