// base
$BaseWhite: #FFFFFF;
$BaseBlack: #0E121B;

//neutrals
$Neutral0: #FFFFFF;
$Neutral50: #F5F7FA;
$Neutral100: #F3F5F8;
$Neutral200: #E0E4EA;
$Neutral300: #CACFD8;
$Neutral400: #99A0AE;
$Neutral500: #717784;
$Neutral600: #525866;
$Neutral700: #2B303B;
$Neutral800: #232530;
$Neutral900: #191B25;
$Neutral950: #0E121B;

//reds
$red100: #ebc6ce;
$red200: #eb9dae;
$red300: #ec6d88;
$red400: #ef3d64;
$red500: #f80035;
$red500: #9c2942;

//blues
$blue100: #a3a4ec;
$blue200: #6365e3;
$blue300: #4346e0;
$blue400: #2326cc;
$blue500: #011e62;
$blue600: #001545;
$blue700: #00091e;